*{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.mb-2{
    margin-bottom: 1.5rem;
}

.text-sp{
    letter-spacing: 0.06rem;
}

h1{
    margin-bottom: 1.5rem;
    font-size: 3rem;
    margin-top: 0;
}

p{
    margin: 0;
    font-size: 1.2rem;
}

.text-border{
    text-shadow: 
    -0.02rem 0 #232323,
    0 0.02rem #232323,
    0.02rem 0 #232323,
    0 -0.02rem #232323;
}

body{
    margin: 0;
    padding: 0;
    background-color: #232323;
    text-align: center;
}

#header{
    padding: 1.5rem 0;
}

#messageBox{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2rem;
}

#message{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.container{
    margin: 0 auto;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#squareBox{
    max-height: 0px;
    overflow: hidden;
}

.easyPadding{
    padding-bottom: 12rem;
    transition-delay: 0.3s;
    transition-duration: 0.3s;
}

.hardPadding{
    padding-bottom: 24rem;
    transition-duration: 0.6s;
}

.square{
    margin: 1%;
    border-radius: 50%;
    padding-bottom: 30%;
    width: 30%;
    background: #232323;
    transition: all 0.6s;
}

.opacity-0{
    margin: 1%;
    border-radius: 50%;
    padding-bottom: 30%;
    width: 30%;
    opacity: 0;
    transition: all 0.6s;
}

.wrongBoxClicked{
    box-shadow: 0px 0px 2px white;
    background: #232323!important;
    transition: all 0.6s;

}

.btn{
    margin: 1%;
    border-radius: 50%;
    box-shadow: 0px 0px 2px white;
    padding: 15% 0;
    width: 30%;
}

.btn:hover{
    background: white;
    color: #232323;
}

.btn_hover{
    background: white;
    color: #232323;
    transition-duration: 0.3s;
}

.btn-text{
    margin: 0;
    padding: 0;
    height: 0px;
    color: inherit;
}

.activated{
    box-shadow: 0px 0px 8px white;
    transition: all 0.3s;
}

@media screen and (max-width: 600px){
    .easyPadding{
        padding-bottom: 32%;
    }
    
    .hardPadding{
        padding-bottom: 64%;
    }
}